body{
    box-sizing: border-box;
    width: auto;
    height: auto;


}


h1{
    width: auto;
    height: 100px;
    background-color: rgb(183, 183, 217);
    padding: 50px 40px ;
    box-sizing: border-box;
   
}

   
.cl1{
    background-color: bisque;
    height: 100px;
    position: relative;
}




.cl2{
    background-color: rgb(134, 106, 160);
    margin: 10px;
    
}
.cl3{
    position: absolute;
    top: 75%;
    left: 10px;
    background-color: crimson;
}
.cl4{
    display: none;
    margin: 10px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: black;
    width: 90px;
}
.cl5{
    position: absolute;
    top: 75%;
    left: 80px;
    background-color: chartreuse;
}
.cl3:hover > .cl4{
    color: aqua;
    display: block;
}




